2.1. Требования к программному обеспечению (ПО) на стороне сервера
Интерпретатор языка высокого уровня: Python версии 3.10 или выше (протестировано на Python 3.13).

    Обязательный стек библиотек и зависимостей (Requirements.txt):

        Flask==3.0.3 — микрофреймворк для реализации маршрутизации и обработки HTTP-запросов.

        Flask-SQLAlchemy==3.1.1 / SQLAlchemy==2.0.29 — объектно-реляционное отображение для работы с СУБД SQLite.

        Flask-Login==0.6.3 — управление сессиями пользователей, авторизация и ограничение доступа.

        Flask-WTF==1.2.1 / WTForms==3.1.2 — построение, рендеринг и валидация веб-форм на стороне сервера.

        Flask-RESTful==0.3.10 — построение архитектуры REST-API (конечные точки для экспонатов).

        requests==2.31.0 — выполнение HTTP-запросов в скриптах интеграционного тестирования.

        email-validator==2.1.1 — валидация корректности структуры почтовых адресов в формах WTForms.

2.2. Требования к аппаратному обеспечению (Hardware)

    Процессор (CPU): Минимально — 1 ядро с тактовой частотой от 1.5 ГГц (например, Intel Core i3 / AMD Ryzen 3). Рекомендуется для стабильной многопоточной обработки — 2+ ядра.

    Оперативная память (RAM): Минимально свободный объем памяти для запуска процесса Flask — 256 МБ. Рекомендуемый объем ОЗУ на хост-машине — от 2 ГБ.

    Дисковое пространство (Storage): Не менее 100 МБ свободного места на SSD/HDD (для хранения файлов SQLite БД, разрастающихся логов сервера и архивов резервных копий модуля backup_manager.py).